*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Ubuntu", "Sans-serif";
  background-color: #702632; }

.app h1 {
  background-color: #702632;
  color: #f1f3f5;
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem; }

.pages {
  padding: 2rem;
  background-color: #f1f3f5;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  width: 70vw; }

.todo-page__title {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: solid 5px #702632; }

.hide {
  display: none;
  opacity: 0; }

.icon {
  width: 1rem; }
