// Colors
// 1 set:
// #702632
// #912F40
// #FFFFFA
// #40434E
// #080705
// 2 set:
// #0A0908
// #49111C
// #F2F4F3
// #A9927D
// #5E503F
// 3 set:
// #5B2333
// #F7F4F3
// #564D4A
// #F24333
// #BA1B1D
// 4 set:
// #363636
// #242F40
// #CCA43B
// #E5E5E5
// #FFFFFF

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Ubuntu", "Sans-serif";
  background-color: #702632;
}

.app h1 {
  background-color: #702632;
  color: #f1f3f5;
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
}

.pages {
  position: relative;
  padding: 2rem;
  border-radius: 4px;
  background-color: #f1f3f5;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 70vw;

  &__actions-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr;
    width: 85%;
  }

  &__add-todo-box {
    grid-column: 2 / 6;
    display: flex;
    align-self: center;
    justify-self: center;
  }

  &__add-todo-input {
    font-size: 2.4rem;
    padding: 1rem;
  }

  &__next-btn {
    grid-column: 6/7;
    grid-row: 1 / 2;
  }

  &__prev-btn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__delete-btn {
    position: absolute;
    top: 10%;
    right: 15%;
  }

  &__new-page-btn {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  & button {
    display: flex;
    align-items: center;
  }
}

.todo-page {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__todos {
    align-self: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & p {
      font-size: 1.8rem;
      font-weight: 400;
      display: flex;
      gap: 0.5rem;

      & .edit-icon {
        margin-left: 1.5rem;
      }
    }
  }
}

.todo-page__title {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: solid 5px #702632;
  flex: 1;
}

.hide {
  display: none;
  opacity: 0;
}

.icon {
  width: 1rem;
}
